.text-info {
  color: #039ba7 !important;
}

.page-footer.dark {
  background-color: rgba(49,185,255,0);
}

.page-footer.dark .footer-copyright {
  background-color: #004c52;
  border-color: #004c52;
}

.page-footer.dark .footer-copyright p {
  color: #ffffff;
}

form {
  background: rgb(255,255,255);
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #007369;
  border-color: #007369;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #029a8d;
  border-color: #029a8d;
}

a:hover {
  color: #004c52;
}

.btn-outline-primary {
  color: #029a8d;
  border-color: #029a8d;
}

